* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
}

.container {
    font-size: 22px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: yellowgreen;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0px;
}


.shop {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
}

.shop__item {
    border: 2px solid black;
    padding: 10px;
}

.product-characters {
    display: flex;
    flex-direction: column;
}

.product-characters__header {
    text-align: center;
    padding-bottom: 15px;
}

.product-characters__btn {
    padding: 5px 30px;
    border-radius: 7px;
    margin: 15px auto;
    display: block;
    cursor: pointer;
}

.product-characters__btn:hover {
    background-color: greenyellow;
}

.some-form {
    display: none;
}

.error {
    font-size: 24px;
    position: fixed;
    left: 35%;
    top: 0;
    display: none;
    width: 30%;
    height: 30%;
    background-color: rgb(233, 149, 153);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    
}
.error-close{
    display: none;
}
.error-item {
    display: block;
}

.error-item:first-of-type {
    padding-top: 40px;
}

.error-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.error-btn:hover {
background-color: goldenrod;
}

.info-container {
    font-size: 24px;
    position: fixed;
    display: none;
    width: 100%;
    height: 50%;
    background-color: beige;
}